$number-minus-2: -2px;
$number-minus-1: -1px;
$number-0: 0px;
$number-1: 1px;
$number-2: 2px;
$number-3: 3px;
$number-4: 4px;
$number-5: 5px;
$number-6: 6px;
$number-8: 8px;
$number-12: 12px;
$number-14: 14px;
